/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.idea export-ignore
/.phpstan export-ignore
/.phpunit.cache export-ignore
/.pest export-ignore
/.DS_Store export-ignore
/build export-ignore
/coverage export-ignore
/dev export-ignore
/node_modules export-ignore
/storage export-ignore
/temp export-ignore
/test-results export-ignore
/tests export-ignore
/tmp export-ignore
/vendor export-ignore
/CODING_STANDARDS.md export-ignore
/CONTRIBUTING.md export-ignore
/composer.lock export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/phpstan.neon export-ignore
/phpunit.xml export-ignore
